<?php
// Show the drive task ?
$rcmail_config['show_drive_task'] = true;

// Configuration WebDAV
$rcmail_config['driver_webdav_url'] = 'http://nextcloud.local/';

// Prefix ex for owncloud : /remote.php/webdav/
$rcmail_config['driver_webdav_prefix'] = 'remote.php/webdav/';

